/* Glavni kontejner za nastavitve */
.settings-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    max-width: 800px;
}

/* Naslov nastavitve */
.settings-title {
    color: var(--text-color);
    font-size: 24px;
    margin-bottom: 15px;
}

/* Dodajte dodatne sloge za druge elemente nastavitve */
.settings-content {
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

/* Slog za polja z nastavitvami */
.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.settings-item:last-child {
    border-bottom: none;
}

.settings-arrow {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

/* Toggle stikalo */
.settings-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-thumb {
    width: 30px;
    height: 16px;
    background-color: var(--toggle-bg-color);
    border-radius: 16px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-thumb.on {
    background-color: var(--toggle-active-bg-color);
}

.toggle-thumb:before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.toggle-thumb.on:before {
    transform: translateX(14px);
}

/* Nazaj gumb */
.back-button-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.back-button-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.back-button-text {
    font-size: 16px;
    color: var(--primary-color);
}

/* CSS za svetli in temni način */
:root {
    --bg-color: #ffffff;
    --text-color: #333;
    --secondary-text-color: #666;
    --border-color: #eee;
    --toggle-bg-color: #ccc;
    --toggle-active-bg-color: #10315D;
    --primary-color: #10315D;
}

[data-theme="dark"] {
    --bg-color: #10315D;
    --text-color: #e0e0e0;
    --secondary-text-color: #a1a1a1;
    --border-color: #333;
    --toggle-bg-color: #555;
    --toggle-active-bg-color: #1f6feb;
    --primary-color: #1f6feb;
}
